openapi: 3.0.0
info:
  version: 1.0.0
  title: WantIt API documents.
  description: Server side code for WantIt.
  termsOfService: https://tkugimot.jp/terms
  contact:
    name: Toshimitsu Kugimoto
    url: url
    email: toshimitsu_kugimoto@yahoo.co.jp
  license:
    name: Toshimitsu Kugimoto
    url: https://tkugimot.jp
servers:
  - url: https://tkugimot.jp
    description: Production Server
paths:
  '/user/{custom_uid}':
    get:
      tags:
        - user
      description: Fetch User Info
      parameters:
        - name: custom_uid
          in: path
          description: custom_uid
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                items:
                  $ref: '#/components/schemas/User'
                example:
                  id: 1
                  custom_uid: tkugimot
                  role: admin
                  description: I am Web Developer.
                  created_at: 2019/05/05
  '/user/{custom_uid}/posts':
    get:
      tags:
        - user
      description: Fetch Posts by User id
      parameters:
        - name: custom_uid
          in: path
          description: custom_uid
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Post'
                example:
                  - id: 1
                    sentence: I want the App that you can post and share what kind of App you want.
                    img_url: img.jp
                    liked_count: 11
                    tags: [WebApp, iOSApp, AndroidApp]
                    created_at: 2019/05/05
                    updated_at: 2019/05/05
                    custom_uid: tkugimot
                  - id: 2
                    sentence: Ups!
                    img_url: img2.jp
                    liked_count: 5
                    tags: [WebApp, iOSApp, AndroidApp]
                    created_at: 2019/05/05
                    updated_at: 2019/05/05
                    custom_uid: tkugimot

  '/user/{custom_uid}/likes':
    get:
      tags:
        - user
      description: Fetch User Info
      parameters:
        - name: custom_uid
          in: path
          description: custom_uid
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Like'
                example:
                  - id: 1
                    custom_uid: tkugimot
                    post_id: 15
                  - id: 5
                    custom_uid: tkugimot
                    post_id: 17

  '/user/register':
    post:
      tags:
        - user
      description: Register User Info
      parameters:
        - name: jwt_token
          in: header
          description: user id
          required: true
          schema:
            type: string
        - name: custom_uid
          in: header
          description: custom_uid
          required: true
          schema:
            type: string
        - name: description
          in: header
          description: user description
          required: false
          schema:
            type: string
        - name: twitter_id
          in: header
          description: twitter id
          required: false
          schema:
            type: string
        - name: google_id
          in: header
          description: google id
          required: false
          schema:
            type: string
        - name: facebook_id
          in: header
          description: facebook id
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                items:
                  $ref: '#/components/schemas/User'
                example:
                  id: 1
                  uid: ABCDEFGHIJKLMNOP
                  custom_uid: tkugimot
                  role: general
                  created_at: 2019/05/05

  '/posts':
    get:
      tags:
        - posts
      description: Fetch All Posts by 10
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                items:
                  $ref: '#/components/schemas/Post'
                example:
                  - id: 1
                    sentence: I want the App that you can post and share what kind of App you want.
                    img_url: img.jp
                    liked_count: 11
                    tags: [WebApp, iOSApp, AndroidApp]
                    created_at: 2019/05/05
                    updated_at: 2019/05/05
                    custom_uid: tkugimot
                  - id: 2
                    sentence: AIUEO
                    img_url: img3.jp
                    liked_count: 3
                    tags: [WebApp, iOSApp, AndroidApp]
                    created_at: 2019/05/05
                    updated_at: 2019/05/05
                    custom_uid: tkugimot02

  '/post/{post_id}':
    get:
      tags:
        - posts
      description: Fetch post
      parameters:
        - name: post_id
          in: path
          description: user id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                items:
                  $ref: '#/components/schemas/Post'
                example:
                  id: 1
                  sentence: I want the App that you can post and share what kind of App you want.
                  img_url: img.jp
                  liked_count: 11
                  tags: [WebApp, iOSApp, AndroidApp]
                  created_at: 2019/05/05
                  updated_at: 2019/05/05
                  custom_uid: tkugimot
  '/post/{post_id}/likes':
    get:
      tags:
        - posts
      description: Fetch Likes by post_id
      parameters:
        - name: post_id
          in: path
          description: post id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Like'
                example:
                  - id: 1
                    custom_uid: tkugimot
                    post_id: 3
                  - id: 5
                    custom_uid: tkugimot02
                    post_id: 3
  '/post/create':
    post:
      tags:
        - posts
      description: Create post (and Update/Add User.post_ids)
      parameters:
        - name: sentence
          in: header
          description: sentence
          required: true
          schema:
            type: string
        - name: img_url
          in: header
          description: sentence
          required: true
          schema:
            type: string
        - name: jwt_token
          in: header
          description: jwt token
          required: true
          schema:
            type: string
        - name: tags
          in: header
          description: tags
          required: false
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                items:
                  $ref: '#/components/schemas/Post'
                example:
                  id: 1
                  sentence: I want the App that you can post and share what kind of App you want.
                  img_url: img.jp
                  liked_count: 11
                  tags: [WebApp, iOSApp, AndroidApp]
                  created_at: 2019/05/05
                  updated_at: 2019/05/05
                  custom_uid: tkugimot

tags:
  - name: user
    description: Fetch Users
  - name: posts
    description: Fetch Posts

components:
  schemas:
    User:
      type: object
      required:
        - id
        - uid
        - custom_uid
        - twitter_id
        - e_twitter_access_token
        - google_id
        - facebook_id
        - created_at
        - post_ids
        - role
        - description
      properties:
        id:
          type: number
        firebase_uid:
          type: string
        custom_uid:
          type: string
        twitter_id:
          type: string
        e_twitter_access_token:
          type: string
        google_id:
          type: string
        facebook_id:
          type: string
        created_at:
          type: string
        post_ids:
          type: array
          items:
            type: number
        role:
          type: string
        description:
          type: string
    Post:
      type: object
      required:
        - id
        - sentence
        - img_url
        - liked_count
        - tags
        - created_at
        - updated_at
        - custom_uid
      properties:
        id:
          type: number
        sentence:
          type: string
        img_url:
          type: string
        liked_count:
          type: number
        tags:
          type: array
          items:
            type: string
        custom_uid:
          type: string
        created_at:
          type: string
        updated_at:
          type: string
    Like:
      type: object
      required:
        - id
        - custom_uid
        - post_id
        - created_at
        - updated_at
      properties:
        id:
          type: number
        custom_uid:
          type: string
        post_id:
          type: number
        created_at:
          type: string
        updated_at:
          type: string
